$grayscale-primary: #219AB3 !default;
$grayscale-dark: #000 !default;
$grayscale-light: #fff !default;

$grayscale-body-font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
$grayscale-headline-font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;

$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
$fa-font-path: '../bower_components/font-awesome/fonts';